---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Kader App | Home">
  <article
    class="flex flex-col gap-4 justify-center items-center min-h-screen min-w-full"
  >
    <h1>Kader App</h1>
    <p>TODO: write description</p>

    <ul class="flex flex-col gap-4">
      <li><a class="w-full btn btn-primary" href="/print">Print photos</a></li>
      <li>
        <a class="w-full btn btn-primary" href="/students/">View students</a>
      </li>
      <li><a class="w-full btn btn-primary" href="/groups/">View groups</a></li>
    </ul>
  </article>
</MainLayout>
